@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>

    <div id="VehicleCard"></div>
    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/f54c4ee70a.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="@Url.Content("~/Scripts/Tutorial.jsx")"></script>
    <link href="@Url.Content("~/Content/index.css")" rel="stylesheet" type="text/css">
</body>
</html>
