@{
    Layout = null;
}
<html>
<head>
    <title>IAS MarketPlace</title>
</head>
<body>

    <div id="VehicleCard">
     
    </div>
      

    <script src="~/Scripts/react.min.js"></script>
    <script src="~/Scripts/react-dom.js"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/f54c4ee70a.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="@Url.Content("~/Scripts/VehicleDetails.jsx")"></script>
    <link href="@Url.Content("~/Content/index.css")" rel="stylesheet" type="text/css">
</body>
</html>
