
h1 {
    font-size: 16px!important;
    padding-left:5px;
}
h2 {
    font-size: 16px !important;
    padding-left: 5px;
}

#header {
    width:200px;
    height:5px;
}

img {
    width: 240px!important;
    height: 200px!important;
}
p {
    font-size: 16px;
}

.item4 {
    padding-left:10px;
}
.item5 {
    padding-left:0!important;
}
#button {
    margin:0px!important;
    font-weight: 400;
    font-size: 16px;
    padding:10px;
    color:	#6495ed;
    padding-left:16px!important;
    padding-right:16px!important;

}

#eye {
    position: absolute;
    top: 7px;
    left:30px;
    color:white;
}
#list {
    position: absolute;
    top: 7px;
    left: 60px;
    color:white;
}
#overlay {
    background: rgba(0, 0, 0, 0.42);
    z-index: 10000;
    margin-top: -33px;
    width: 240px;
    height: 33px;
    margin-left: 0px;
    position: absolute;
}
#VehicleCard {
    border: 1px solid #383838;
    width: 241px;
}
#button-small {
     position: absolute;
    top: 6px;
    left: 193px;
    color:blueviolet;
    background-color:aqua;
    
}